.hero-bg {
  background-image: url("https://www.istockphoto.com/photo/coworkers-with-stacked-hands-at-the-office-gm1424987910-469579525?utm_campaign=srp_photos_bottom&utm_content=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fjob-site&utm_medium=affiliate&utm_source=unsplash&utm_term=job+site%3A%3A%3A");
  background-size: cover;
  background-position: center;
}
